<form action="/figures" method="POST">
  <h1>Figure Name: <input type="text" id="figure_name" name="figure[name]"></h1>
  <br>
  <h2>Landmark Name: <input type="text" id="new_landmark" name="landmark[name]"></h2>
  <br>
  <h2>Title Name: <input type="text" id="new_title" name="title[name]"></h2>
  <br>
  <h2>Titles:</h2>
  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %>
  <% end %>

  <h2>Landmarks:</h2>
  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %>
  <% end %>

  <input type="submit" value="Create New Figure">
</form>